<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: rgb(65, 65, 65);">
   {% if result == 'none' %}
   <form action="" method="POST">
      {{ form.hidden_tag() }}
      <div class="col-md-12 text-center mt-5">
         {{ form.submit(class="btn btn-outline-info") }}
      </div>
   </form>
   {% else %}
   <div class="text-center mt-3 mb-2">
      <a class="btn btn-outline-info" href="{{url_for('register')}}">Go To Register</a>
   </div>
   <section class="container mt-5 mx-auto col-xl-6" style="background-color: rgb(255, 255, 255);">
      <h5 class="text-center mb-3">Validation Result</h5>
      <table class="table table-striped" id="validation-table">
         <tr>
            <th>Field</th>
            <th>Value</th>
            <th>Result</th>
         </tr>
         {% for field in testcase %}
         {% if testcase[field].result == 'pass' %}
         <tr>
            <td>{{field}}</td>
            <td>{{record[field]}}</td>
            <td>
               <img src="{{url_for('static', filename='pass.png')}}" style="height: 30px; width: 30px;" alt="...">
            </td>
         </tr>
         {% else %}
         <tr>
            <td>{{field}}</td>
            <td>{{record[field]}}</td>
            <td>
               <img src="{{url_for('static', filename='fail.png')}}" style="height: 30px; width: 30px;" alt="...">
            </td>
         </tr>
         <tr>
            <td colspan="3">
               <details>
                  <summary>View Error Msg</summary>
                  <p>{{testcase[field].msg}}</p>
               </details>
            </td>
         </tr>
         {% endif %}
         {% endfor %}
      </table>

   </section>

   {% endif %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>